.header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: min-content;
    width:80%;
    flex-wrap: wrap;
    margin: 0 auto;
}
.header img{
    height: 100%;
}
.login{
    padding: 5px 10px;
    background-color: white;
    color: blue;
    border-radius: 10px;
    transition: all .2s ease;
    cursor: pointer;
}
.login:hover{
    background-color: antiquewhite;
    font-weight: bold;
}